*{
    margin: 0;
    padding: 0;
    font-family:'Poppins';
}
body{
    height:100vh;
    background-color:#f9f9f9;
}
.imp{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height:100%;
}
.right-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.right-div img{
    width:75%;
}
.right-div h3{
    padding:2rem;
}
.left-div{
    height: auto;
    overflow: auto;
    padding:2rem;
}
.left-div h3{
    padding:2rem 0;
    color:#ff4800
}
form button.btn{
    padding:5px 25px !important;
    border:none;
    color:#fff;
    background-color: #ff4800;
    padding:1rem 0;
    width:250px;
}

#style-4::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); */
	background-color: #f9f9f9;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #f9f9f9;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #f9f9f9;
	border: 2px solid #f9f9f9;
}


